@{
    ViewData["Title"] = "Affe";

}

<h2>Arm Force Field (AFF)</h2>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

    canvas{
        height: 300px;

    }

    #graphMain {
        margin-top: 100px;
        margin-bottom: 10px;
        position: relative;
        white-space: nowrap;
    }

    .chartContainer {
        display: inline-block;
        border: 3px solid whitesmoke;
        width: 45%;
        padding: 10px;
        position:relative;
 
    }
    .chartContainer:last-child{
        xfloat: right;
    }
    #btnFitScale{
        margin: 20px;
    }

    #AFFInputs, #ForceInputs, #ForceInputsOuter {
        background-color: #EEE;
        padding: 20px;
        margin-bottom: 20px;
    }
    .Collapsed, .Hidden{
        display: none;
    }

    .CollapseButton{
        border: none;
    }
    #ForceInputsOuter {
        background-color: #EEE;
        padding: 20px;
        margin-bottom: 20px;
    }

    #AFFInputs .caption {
        text-align: right;
        width: 300px;

    }
    #ForceInputs .caption{
        text-align: right;
        width: 100px;

    }

    .ForceInputPanel {
        display: inline-block;
    }

    .ForceInputPanel:last-child{
        float:right;
    }

    .slider-container {
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .inputContainer {
        text-align: left;
        font-family: Arial, sans-serif;
        margin: 10px;
    }
    .inputContainer > *{
        display: inline-block;
    }
    .sliderContainer > .caption, .sliderValue{
        position: relative;
        top: -2px;
    }


    .sliderContainer > .sliderValue{
        text-align: left;
        width: 80px;
    }

    .slider{
        width: 300px;
    }
    #debugPanel{
        position: fixed;
        width:20vw;
        height:100vh;
        top:0px;
        right:0px;
        background-color:lavender;
        overflow-y: scroll;
    }
    .timeBar{
        position: absolute;
        left: calc(65px + 77%);
        top:25%;
        height: 55%;
        width: 2px;
        opacity:.5;
        background-color: blue;

    }
    #templatesContainer{
        display: none;
    }
</style>

<div id="debugPanel" style="display: none"></div>
<div id="messagePanel"></div>
<div id="graphMain">No valid manikin loaded</div>
<button onclick="fitScale()" id="btnFitScale">Fit scale</button>
<div id="commonControls"></div>
<div id="ForceInputsOuter">
    <button onclick="onBtnCollapse('ForceInputs', this);" class="CollapseButton">▷</button>Additional forces
    <div id="ForceInputs" class="Collapsed"></div>
</div>
<div id="AFFInputs">
    <div class="selectContainer inputContainer">
        <div class="caption">Type</div>
        <select id="masMafSelect">
            <option>MAS</option>
            <option>MAF</option>
        </select>
    </div>
    <div class="selectContainer inputContainer">
        <div class="caption">Gender</div>
        <select id="genderSelect">
            <option>Female</option>
            <option>Male</option>
        </select>
    </div>
</div>
<div id="templatesContainer">
    <div class="sliderContainer inputContainer">
        <div class="caption">Slider template</div>
        <input class="slider" type="range" id="" min="1" max="99" value="75">
        <div class="sliderValue">88</div>
    </div>
</div>
<button id="downloadCsvBtn">Download CSV</button>
<button id="downloadAffBtn">Download AFF frames</button>
<div style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d9/HIS_EN_LOGO_WEB.png" alt="University of Skövde Logo" width="200">
</div>

<footer style="text-align: center; margin-top: 50px; font-size: 0.9em; color: #555;">
    <p>
        Based on the work of:<br>
        La Delfa, N.J., Potvin, J.R.: <em>The ’Arm Force Field’ Method to Predict Manual Arm Strength Based on Only Hand Location and Force Direction</em>. Applied Ergonomics, 59, Part A, 410–421 (2017).<br>
        Potvin, J.R.: <em>Predicting Maximum Acceptable Efforts for Repetitive Tasks: An Equation Based on Duty Cycle</em>. Human Factors, 54(2), 175–188 (2012).
    </p>
</footer>

<script type="text/javascript" src="/js/aff.js?@DateTime.Now.Ticks"></script>

