<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Platform_for_Ergonomics_evaluation_Methods</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Platform_for_Ergonomics_evaluation_Methods.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Platform_for_Ergonomics_evaluation_Methods</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>Loaded Manikin:<div id="loaded_manikin_info" style="display: inline-block"></div></div>
        <div id="loadBtnPanel">
            Load testdata
        </div>
        <button onclick="fetch('/Home/LoadLastManikin', {method: 'GET'});">Load Last</button>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Platform_for_Ergonomics_evaluation_Methods - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function checkLoadedManikin() {
            $.ajax({
                url: '@Url.Action("GetLoadedManikinInfo", "Home")',
                method: 'GET',
                success: function (response) {
                    document.getElementById('loaded_manikin_info').innerHTML = JSON.stringify(response);
                },
                error: function () {
                    console.log("Failed to fetch message.");
                }
            });
        }
        checkLoadedManikin();
        setInterval(checkLoadedManikin, 1000);
        function addTestMsgBtn(caption, msg) {
            btn = document.createElement("button");
            btn.innerHTML = caption;
            btn.onclick = function () {
                $.ajax({
                    url: '@Url.Action("LoadTestData", "Home")',
                    method: 'POST',
                    data: {
                        msg: msg
                    },
                    success: function (response) {
                        location.reload();
                    }
                });
            }
            document.getElementById("loadBtnPanel").appendChild(btn);
        }
        addTestMsgBtn("Immatest", "{\"manikinFilenames\":[\"TestData/IpsLuaExportTest/Operation_Sequence_1_Family_1_Male_w=78_s=1756.json\"],\"src\":\"IPS\",\"parser\":\"IMMAManikin\",\"version=\":\"0.1\"}");
        addTestMsgBtn("Emmatest", "{\"file\":\"TestData/Emma-001.mvnx\",\"parser\":\"XsensManikin\"}");
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
