@{
    ViewData["Title"] = "PEM!";
}

<div class="text-center">
    <h1 class="display-4">Platform for Ergonomics evaluation Methods [PEM]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Latest JSON Message</h1>
<div id="jsonMessage">
    No message received yet.
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function fetchLatestMessage() {
        console.log("hej")
        $.ajax({
            url: '@Url.Action("GetLatestJsonMessage", "Home")',
            method: 'GET',
            success: function(response) {
                $('#jsonMessage').text(response.jsonMessage);
            },
            error: function() {
                $('#jsonMessage').text("Failed to fetch message.");
            }
        });
    }

    // Fetch the latest message every n milliseconds
    setInterval(fetchLatestMessage, 1000);
</script>